@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Click here to upload document <a asp-controller="Users" asp-action="AddUser">Upload</a>.</p>
    <p>Click here to view upload document <a asp-controller="Users" asp-action="GetUserDocuments">View</a>.</p>

</div>
